.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #EE5419;
    border-radius: 2px;
  }
}

.image {
  position: relative;
  height: 55%;
  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
    color: white;
    font-size: 130%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.959);
  }
}

.icon {
  margin-right: 15px;
  font-size: 90%;
  color: #EE5419;
  text-shadow: none;
}

.body {
  height: calc(45% - 60px);

  button {
    border: 0;
    background-color: #EE5419;
    width: 100%;
    height: 60px;
    font-size: 130%;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 0;
  }
}

.description {
  height: calc(100% - 60px);
  padding: 30px 40px;
  color: #707070;

  h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
}
