.container {
  position: relative;
  min-width: 80vw;
  margin-left: 12px;
  user-select: none;
  font-size: 90%;

  img {
    object-fit: cover;
    width: 100%;
    height: calc(100% - 110px);
  }
}

.content {
  height: calc(100% - 90px);
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 40px rgba(65, 65, 65, 0.226);

  &:hover h3 {
    color: #EE5419;
  }
}

.info {
  padding: 20px;
  height: 110px;

  & > * {
    line-height: 35px;
  }

  h3 {
    font-weight: 500;
  }
}

.index {
  line-height: 60px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
}

.icon {
  margin-right: 15px;
  font-size: 110%;
  color: #EE5419;
}
